<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Game Over - HARRYM</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game_over.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <style>
  
  </style>
</head>
<body>
  <h1>HARRYM</h1>
  <h2 class="subtitle">A Jornada do Templo - Endless</h2>
  <div class="gameover">GAME OVER!</div>
  <div class="info">Você chegou até: <span id="distance">0 MP</span></div>
  <div class="info">Moedas adicionadas: <span id="coins">0</span></div>
  <button id="reset" onclick="voltarMenu()">Voltar ao Menu</button>
  <h3>Deseja fazer parte do Rank ?</h3>
  <div class="fim">
    <div class="nome"><p>Nome: <p> <p>Senha:</p> </div>
    <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
    <input type="password" id="senha" name="senha" placeholder="Digite sua senha" onchange="enviarDados()" required>
    <button id="enviar" onclick="enviarDados()">Enviar</button>
    <span id="avisanome"></span>
  </div>
  <div id="modalOverlay" class="modal-overlay" style="display: none;">
    <div class="modal">
      <h2>Conta Cadastrada</h2>
      <p>Verificamos que você já tem uma conta cadastrada.<br>
      Gostaria de resgatar seu histórico de jogo?<br>
      (Caso aceite todos os dados atuais serão substituídos pelo anterior.)<br>
      (Caso negue todos os dados anteriores serão substituídos pelo de agora.(Backup))</p>
      <div class="modal-buttons">
        <button id="modalNoButton">Não</button>
        <button id="modalYesButton">Sim</button>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
  <script src="{{ url_for('static', filename='js/game_over.js') }}"></script>
</body>
</html>
