<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>HARRYM</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<body>
  <div id="menuOverlay">
    <h1>HARRYM</h1>
    <p class="subtitle">A Jornada do Templo - Endless</p>
    <p2>Seed: <input id="seedDisplay" style="background: rgba(240, 248, 255, 0); color: white; border: none;font-size: 15px;"></input></p2>
    <div id="statusContainer">
      <div class="top" >
        <div class="mendigo" id="mendigo">
          <img src="{{ url_for('static', filename='images/mendigo.png') }}" alt="mendigo" class="image mendigoIMG">
          <span class="tooltip mendigotop">Doar uma moeda para um mendigo :)</span>
        </div>
        <div class="visu" id="recordsChanged">
          <img src="{{ url_for('static', filename='images/top.png') }}" alt="Recordes globais" class="image topIMG">
          <span class="tooltip toop">Recordes globais</span>
        </div>
      </div>
      <h2>Status</h2>
      <p id="extraJumpsStatus">Pulos Extras: 0</p>
      <h3>Habilidades</h3>
      <ul id="abilitiesList"></ul>
      <h2>Histórico do Jogo</h2>
      <ul id="historyList"></ul>
      <h2>Recursos</h2>
      <p id="coinsDisplay" style="display: none;">Moedas: 0</p>
      <p id="runesDisplay" style="display: none;">Runas: 0</p>
      <p id="sucataDisplay" style="display: none;">Sucata: 0</p>
    </div>
    <div class="botoes">
      <button id="customizeButton" onclick="window.location.href='/customize'">Mercado</button>
      <button id="startButton">Iniciar</button>
    </div>
  </div>
  <div id="modalOverlay" class="modal-overlay" style="display: none;">
    <div class="modal" id="modal">
      <span class="close">&times;</span>
      <h2>você é uma pessoa incrível !!!</h2>
      <p>Muito obrigado por jogar meu joguinho<br>Se você gostou, por favor, compartilhe com seus amigos</p>
      <div class="modal-buttons">
        <label for="valor">Quanto queres me doar ?</label>
        <input type="number" id="valor" placeholder="1" value="1" onchange="pix()"required> 
        <button onclick="pix()">Pix</button>
      </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('startButton').focus();
    });
  </script>
</body>
</html>
