<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/principal.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Interface</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.7/leader-line.min.js"></script>
</head>

<body>
  <div class="container">
    <aside class="sidebar">
      <h2>Chat
        <button class="novo-chat-btn" id="abrir_modal" style="float: right;">
          <svg viewBox="0 0 24 24">
            <path d="M12 20h9" />
            <path d="M16.5 3.5a2.121 2.121 0 013 3L7 19l-4 1 1-4L16.5 3.5z" />
          </svg>
          <span class="tooltip" >Novo chat</span>
        </button>
      </h2>
      <div id="fixedTooltip">
        <div class="tooltip-content" id="tooltip-content">
          </div>
        </div>
      <ul>
        {% for contato in cont %}
        <li data-tooltip="{{ contato.conversa.dialogo }} (Data: {{ contato.conversa.data }} - {{ contato.conversa.hora }})" onclick="loadChat('{{ contato.contato }}')" id="{{ contato.contato }}">
          {{ contato.contato }}
        </li>
        {% endfor %}
      </ul>
      <div class="opcoes">
        <a href="{% url 'chat_app:configs' %}">
          <img src="{% static 'imgs/configuracoes.png' %}" alt="configurações">
          <span class="tooltip">Configurações</span>
        </a>
        <a href="{% url 'chat_app:imag' %}">
          <img src="{% static 'imgs/confy.png' %}" alt="Comfyui">
          <span class="tooltip">Confg gerador de imagens</span>
        </a>
        <a href="{% url 'chat_app:index' %}">
          <img src="{% static 'imgs/home.png' %}" alt="home">
          <span class="tooltip">Inicio</span>
        </a>
        <a href="{% url 'chat_app:treinamento' %}">
          <img src="{% static 'imgs/cerebro.png' %}" alt="treinamento">
          <span class="tooltip">Treinamento modelo em especifico</span>
        </a>
        <a href="{% url 'chat_app:api_apis' %}">
          <img src="{% static 'imgs/api.png' %}" alt="api">
          <span class="tooltip">API</span>
        </a>
      </div>
    </aside>
    <main class="chat-area">
      <div class="chat-title" id="chatTitle">
        <div class="modelo" style="float: left;">
          <label for="modelo">Modelo:</label>
          <select name="modelo" id="modelo" value="3b" class="select-modelo">
            <option value="3b">3b</option>
            {% for model in modelos %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
          </select>
        </div>
        <label for="chat" id="chatLabel"></label>
        <div class="Personalidade" style="float: right;">
          <label for="personalidade_input">Personalidade:</label>
          <input name="personalidade" id="personalidade_input" list="personalidade_list" value="Simples"
            class="select-personalidade">
          <datalist id="personalidade_list">
            <option value="{{ personalidade }}">{{ personalidade }}</option>
          </datalist>
        </div>
      </div>
      <div class="messages" id="messages">
      </div>
      <div class="controle" id="controle"></div>
      <div id="loadingContainer" class="loading"><span style="font-size: 12px;">Pensando</span><span
          class="dot">.</span><span class="dot">.</span><span class="dot">.</span><span id="counter"
          style="font-size: 12px;"><b>0</b></span></div>
      <div class="input-area" id="input-area" style="display: none;">
        <input type="text" id="messageInput" placeholder="Envie uma mensagem...">
        <button onclick="sendMessage()">Enviar
          <span class="tooltip">Conversa 1</span>
        </button>
      </div>
      <footer class="footer">
        <p>&copy; 2025 IA-chat</p>
      </footer>
    </main>
  </div>
  <div class="modal-overlay" id="modalOverlay">
    <div class="modal">
      <button class="modal-close" id="modalClose">&times;</button>
      <h2>Iniciar um novo chat ? </h2>
      <label for="campo" style="font-size: 15px;"><b>Nome:</b></label>
      <form action="{% url 'chat_app:novo_chat' %}" method="post">
        {% csrf_token %}
        <input type="text" id="nome" name="nome" placeholder="Digite um nome para seu chat...">
        <button id="Iniciar">Iniciar</button>
      </form>
    </div>
  </div>
  {% if atu %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      loadChat('{{ contato|escapejs }}');
    });
  </script>
  {% endif %}
  <script>
    var STATIC_URL = "{% static '' %}";
  </script>
  <script src="{% static 'scripts/principal.js' %}"></script>
</body>

</html>