/* Estilo global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
  overflow: hidden;
}
.botoes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  animation: fad;
}
#menuOverlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgb(8, 8, 8) 0%, #330000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-out;
  overflow-y: auto;
}
#menuOverlay::-webkit-scrollbar {
  display: none;
}
#abilitiesList{
  height: auto;
  max-height: 100px;
  overflow-y: auto;
}
#abilitiesList::-webkit-scrollbar {
  width: 5px;
}

#abilitiesList::-webkit-scrollbar-track {
  background: #333;
}

#abilitiesList::-webkit-scrollbar-thumb {
  background: #ff192c;
  border-radius: 5px;
}

#abilitiesList::-webkit-scrollbar-thumb:hover {
  background: #ff192c;
}
#historyList{
  height: auto;
  max-height: 100px;
  overflow-y: auto;
}
#historyList::-webkit-scrollbar {
  width: 5px;
}

#historyList::-webkit-scrollbar-track {
  background: #333;
}

#historyList::-webkit-scrollbar-thumb {
  background: #ff192c;
  border-radius: 5px;
}

#historyList::-webkit-scrollbar-thumb:hover {
  background: #ff192c;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#menuOverlay h1 {
  font-family: 'Bangers', cursive;
  font-size: 64px;
  color: #ff192c;
  margin: 0;
  text-shadow: 2px 2px 4px #000;
}

#menuOverlay .subtitle {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #f1faee;
}

#menuOverlay p {
  font-size: 18px;
  margin: 5px 0;
}
#menuOverlay p2 {
  width: 300px;
  align-items: center;
  font-size: 110%;
  display: flex;
  gap: 3px;
  margin-bottom: 5px;
  justify-content: center;
}
#menuOverlay form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#menuOverlay form input, 
#menuOverlay form button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

#menuOverlay form input {
  background: #222;
  color: #eee;
  width: 200px;
}

#menuOverlay form button {
  background: #ff192c;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

#menuOverlay form button:hover {
  background: #ff0404;
}

#menuOverlay button#startButton {
  padding: 15px 30px;
  background: #ff192c;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#menuOverlay button#startButton:hover {
  background: #ff0000;
}

#menuOverlay button#customizeButton {
  padding: 15px 30px;
  background: #ff192c;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#menuOverlay button#customizeButton:hover {
  background: #ff0000; /* Adjusted color */
}

#statusContainer {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#statusContainer h2, #statusContainer h3 {
  margin: 10px 0;
}

#statusContainer p, #statusContainer ul {
  margin: 5px 0;
}

#statusContainer p {
  font-size: 18px;
}

#statusContainer ul {
  list-style-type: none;
  padding: 0;
}

#statusContainer ul li {
  background: rgba(20, 20, 20, 0.8);
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.top {
  display: flex;
  position: relative;
  height: 1px;
  width: 100%;
}

.image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  filter: invert(100%);
}
.mendigoIMG{
  margin-right: auto;
}
.topIMG{    
  position: relative;
  left: 83%;
}
.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the image */
  opacity: 0;
  transition: opacity 0.3s;
  width: 120px;
}
.toop{
  left: 93%;
  margin-right: -60px;
}
.mendigo {
  width: 50%;
}
.visu{
  width: 50%;
}
.mendigo:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.visu:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal {
  background: #222;
  border: 2px solid #e63946;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.modal h2 {
  font-family: 'Bangers', cursive;
  font-size: 32px;
  color: #e63946;
  margin: 0 0 20px;
}
.modal p {
  font-size: 18px;
  color: #f1faee;
  margin-bottom: 30px;
}
.modal-buttons label{
  display: flex;
  align-items: center;
}
.modal-buttons input{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background: none;
  color: #eee;
  text-align: center;
  align-items: center;
  border: 2px solid #bbbbbb;
  width: 15%;
}
.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background: #e63946;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: #d62828;
}
.modal span {
  position: relative;
  cursor: pointer;
  margin-left: 100%;
}
#qrImage{
  width: 35%;
}
#pix{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}